[Unit]
Description=Run Beout_OS Auto-Updater every 30 seconds (Testing)

[Timer]
OnBootSec=10s
OnUnitActiveSec=30s
Persistent=true

[Install]
WantedBy=timers.target
